.home-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 6vw;

}
.social-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: -20vw;
}
.home-l {
    width: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-r {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-r-img {
    width: 30rem;
}

.home-title {

    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    /* padding: 1rem 5rem; */
    margin-left: 6rem;
    display: flex;
    align-items: center;
}

.home-data {
    margin-left: 6rem;
    width: 100%;
    text-align: left;

    font-size: 2rem;
    display: flex;
    align-items: center;
}

.cardx-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .cardx-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .cardx-grid{
      grid-template-columns: repeat(2, 0fr); 
    }
  }
  
  .cardx{
    list-style: none;
    position: relative;
    height: 25vh;
    width: 16vw;
    cursor: pointer;
  }
  
  .cardx:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .cardx__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .cardx:hover .cardx__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .cardx-grid:hover > .cardx:not(:hover) .cardx__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .cardx__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .cardx__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .cardx__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }